input {
    margin: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: whitesmoke;
}
button {
    margin: 5px;
    padding: 10px;
    width: 10%;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-align: center;
}